<%- include("partials/header"); -%>
<h1>New Entry Added</h1>
<div><a href="/entries" class="btn orange">All Entries</a></div>

<style>
    .btn, h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1 {
        bottom: 90px;
    }

</style>
<%- include("partials/footer"); -%>